.app{
  min-height: 100vh;
  
  display: flex;
  flex-direction:column;
  align-items: center;
  padding: 20px;
}
.board{
  margin: 0 auto;
  margin-top: 175px;
  margin-left:auto;
  margin-right:auto;
  height: 500px;
  width: 500px;
  background-color: pink;
  align-items :center;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
}
.cell{
  border: 1px solid magenta;
  aspect-ratio: 1;
}
.thick-left{
  border-left: 3px solid black;
  
}